@use "./colors" as colors;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	background-color: colors.$bgColor;
	font-family: "Outfit", sans-serif;
}

body {
	.card {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		width: 50vw;
		height: 100%;
		padding: 10px;
		margin: 10px;
		background-color: colors.$cardBgColor;
		border-radius: 10px;
		&__img {
			position: absolute;
			top: 10%;
			left: 50%;
			width: 90%;
			border-radius: 10px;
		}
		&__txtBox {
			text-align: center;
		}
		&__header {
			color: colors.$headerColor;
		}
		&__text {
			font-size: 1.5rem;
			color: colors.$txtColor;
		}
	}
}

footer {
	width: 100vw;
	height: 10vh;
	padding: 10px;
	margin: auto;
	background-color: #fff;
	.attribution {
		font-size: 11px;
		text-align: center;
		line-height: 20px;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}

// Font size (paragraph): 15px

// <---- MEDIA QUERY FOR DESKTOPS ---->

// @media (min-width: 1440px) {

// }
