@use "./colors" as colors;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	background-color: colors.$bgColor;
	font-family: "Outfit", sans-serif;
}

body {
	.card {
		width: 80vw;
		height: 100%;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 10px;
		margin: 15px 0;
		background-color: colors.$cardBgColor;
		border-radius: 10px;
		&__img {
			max-width: 100%;
			margin-top: 10px;
			border-radius: 10px;
		}
		&__txtBox {
			padding: 20px 15px 30px;
			text-align: center;
		}
		&__header {
			padding: 15px 0;
			font-size: 2rem;
			font-weight: 700;
			color: colors.$headerColor;
		}
		&__text {
			font-weight: 400;
			font-size: 1.5rem;
			color: colors.$txtColor;
		}
	}
}

footer {
	width: 100vw;
	height: 70px;
	padding: 10px 0;
	background-color: #fff;
	text-align: center;
	.attribution {
		font-size: 11px;
		line-height: 25px;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}

// Font size (paragraph): 15px

// <---- MEDIA QUERY FOR DESKTOPS ---->

// @media (min-width: 1440px) {

// }
